<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBK-Pubw0n0kQp5XWTuHXDXbub3gfgHzAY</string>
	<key>GCM_SENDER_ID</key>
	<string>1073205422915</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>noob.BookIsh2-0</string>
	<key>PROJECT_ID</key>
	<string>bookish-d2bd8</string>
	<key>STORAGE_BUCKET</key>
	<string>bookish-d2bd8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1073205422915:ios:54a6d4e68a90af0fb19df6</string>
	<key>DATABASE_URL</key>
	<string>https://bookish-d2bd8-default-rtdb.firebaseio.com</string>
</dict>
</plist>